.postContainer {
  padding: 15px;
}

.postContainer h1 {
  text-align: center;
}

.postInfo {
  color: #8c8c8c;
  text-align: center;
}

.postBody {
  font-size: 21px;
  text-align: justify;
}

@media only screen and (max-width: 700px) {
  .postBody {
    font-size: inherit;
  }
}